{% if annotation %}
<table>
    <tr>
        <td>Protein name</td>
        <td>{{ annotation.protein }}</td>
    </tr>
    <tr>
        <td>Gene name</td>
        <td>{{ annotation.protein.gene }}</td>
    </tr>
    <tr>
        <td>Rab subfamily</td>
        <td>{{ annotation.rab_subfamily }}</td>
    </tr>
    <tr>
        <td>Rab subfamily score</td>
        <td>{{ annotation.rab_subfamily_score }}</td>
    </tr>
    <tr>
        <td>G-protein domains</td>
        <td>{{ annotation.gprotein }}</td>
    </tr>
    <tr>
        <td>e-value against the rab database (log10)</td>
        <td>{{ annotation.log10_evalue_rab }}</td>
    </tr>
    <tr>
        <td>e-value against the non-rab database (log10)</td>
        <td>{{ annotation.log10_evalue_nonrab }}</td>
    </tr>
    <tr>
        <td>Rab F motifs</td>
        <td>{{ annotation.rabf }}</td>
    </tr>
    <tr>
        <td>Top 5 Rab subfamily predictions</td>
        <td>{{ annotation.rab_subfamily_top5 }}</td>
    </tr>
</table>
{% else %}
<p>No annotation.</p>
{% endif %}
