{% extends "base.html" %}

{% block title %}RabDB - Protein{% endblock %}

{% block content %}

<h1>Annotation</h1>

{% if annotation %}

<table class="browser">
    <tr>
        <th>Species</th>
        <td>{{ annotation.species }}</td>
    </tr>
    <tr>
        <th>Protein name</th>
        <td>{{ annotation.protein }}</td>
    </tr>
    <tr>
        <th>Gene name</th>
        <td>{{ annotation.gene }}</td>
    </tr>
    <tr>
        <th>Rab subfamily</th>
        <td>{{ annotation.rab_subfamily }}</td>
    </tr>
    <tr>
        <th>Rab subfamily score</th>
        <td>{{ annotation.rab_subfamily_score }}</td>
    </tr>
    <tr>
        <th>G-protein domains</th>
        <td>{{ annotation.gprotein }}</td>
    </tr>
    <tr>
        <th>e-value vs. Rab database</th>
        <td>{{ annotation.evalue_rab }}</td>
    </tr>
    <tr>
        <th>e-value vs. non-Rab database</th>
        <td>{{ annotation.evalue_non_rab }}</td>
    </tr>
    <tr>
        <th>Rab F motifs</th>
        <td>{{ annotation.rabf }}</td>
    </tr>
    <tr>
        <th>Top 5 Rab subfamily predictions</th>
        <td>{{ annotation.top5 }}</td>
    </tr>
    <tr>
        <th>Sequence</th>
        <td style="font-family:monospace;word-wrap:break-word;">{{ annotation.sequence }}</td>
    </tr>
</table>
{% else %}
<p>No annotation.</p>
{% endif %}

{% endblock %}
