{% extends "base.html" %}

{% block title %}RabDB - Browser{% endblock %}

{% block content %}

<h1>Rab Browser</h1>

{% if annotations %}
    <table class="browser">
        <tr>
            <th>Protein</th>
            <th>Species</th>
            <th>Annotation</th>
        </tr>
        {% for annotation in annotations %}
            <tr>
                <td><a href="{% url 'browser:details' annotation.protein.protein %}">{{ annotation.protein.protein }}</a></td>
                <td>{{ annotation.taxonomy.name }}</td>
                <td>{{ annotation.rab_subfamily }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
<p>No rabs.</p>
{% endif %}

<br>

<div class="pagination" style="text-align:center;">
    <span class="step-links">
        {% if annotations.has_previous %}
            <a href="?page=1">&#8606; first</a>
            <a href="?page={{ annotations.previous_page_number }}">&#8592; previous</a>
        {% endif %}

        <span class="current">
            Page {{ annotations.number }} of {{ annotations.paginator.num_pages }}.
        </span>

        {% if annotations.has_next %}
            <a href="?page={{ annotations.next_page_number }}">next &#8594;</a>
            <a href="?page={{ annotations.paginator.num_pages }}">last &#8608;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
