{% extends "base.html" %}

{% block title %}RabDB2 - Rabifier{% endblock %}

{% block content %}

<h1>Rabify!</h1>

<p>Sequence-based Rab classification. You can enter up to 500
    <a href="http://en.wikipedia.org/wiki/FASTA_format">FASTA</a> formatted protein sequences for rabification.</p>

<form action="{% url 'rabifier:search' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <p><input type="submit" value="Rabify" /></p>
</form>

<p style="margin-top:30px;">If you wish to rabify more sequences please
    <a href="http://github.com/evocell/rabifier">download Rabifier</a> and run it yourself or contact us.</p>

{% endblock %}
