{% extends "base.html" %}

{% block title %}RabDB2 - Home{% endblock %}

{% load staticfiles %}

{% block content %}

<h1>Welcome to RabDB</h1>

<p>RabDB is a database created to explore the universe of the Rab family of small GTPases, key regulators of the
    Eukaryotic endomembrane system, predicted by the Rabifier classification pipleline in the sequenced eukaryotic
    genomes.
    The Rabifier has predicted thousands of Rabs, and assigned putative subfamilies to each of them.
    Here you can browse this universe, view evolutionary profiles, and submit your own sequences to the Rabifier.
</p>

<h2>Rabify</h2>

<p><a href="{% url 'rabifier:search' %}">Submit a protein sequence</a> to find out if it is a Rab GTPase, and if so,
    to what subfamily does it belong.
</p>

<h2>Browse Rabs</h2>

<p>
    <a href="{% url 'browser:index' %}">Browse</a> the universe of Rabs across 244 species that have been analyzed by the Rabifier and
    <a href="{% url 'browser:profile' %}">view their evolutionary profiles</a> across all major eukaryotic branches.
</p>

<p>
<a href="{% url 'browser:index' %}"> <img src="{% static 'images/pictures/search.png' %}" alt="Search" /> </a>
<a href="{% url 'browser:profile' %}"> <img src="{% static 'images/pictures/browse.png' %}" alt="Browser" /> </a>
</p>

<h2>Citation</h2>

<p>If you use RabDB or Rabifier in you research please cite:</p>
<ul>
    <li>Rabifier2: an improved bioinformatic classifier of Rab GTPases.
        Surkont J, <em> et al.</em> (2016)
        Bioinformatics
        <a href="http://bioinformatics.oxfordjournals.org/content/early/2016/11/18/bioinformatics.btw654.abstract">doi:10.1093/bioinformatics/btw654</a>
    </li>
    <li>Thousands of Rab GTPases for the Cell Biologist.
        Diekmann Y, <em> et al.</em> (2011)
        PLoS Comput Biol 7(10): e1002217
        <a href="http://dx.plos.org/10.1371/journal.pcbi.1002217">doi:10.1371/journal.pcbi.1002217</a>
    </li>
</ul>

{% endblock %}