html, body {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

body {
    font-family: "Arial",sans-serif;
    font-size: 14px;
    text-align: justify;
}

/* Page layout */
#header {
    border-width: 0;
}

#logo {
    border-width: 0;
    float: left;
}
#banner {
    border-width: 0;
    float: left;
    height: 86px;
    margin-left: 20px;
    margin-top: 5px;
    width: 650px;
}

#main {
    padding-top: 215px;
}

#leftsection {
    height: 100%;
    min-width: 200px;
    position: fixed;
    width: 25%;
}

#rightsection {
    margin-left: 23%;
    padding-left: 5%;
    width: 70%;
}

#sidebar {
    margin-left: auto;
    margin-right: -1px;
    padding-top: 215px;
    width: 200px;
}

#footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Header style */
#logo-rabdb-left {
    background: none repeat scroll 0 0 #7e9695;
    border-radius: 115px;
    content: "";
    height: 230px;
    left: 12.5%;
    position: absolute;
    top: -100px;
    width: 230px;
    z-index: 1;
}

#logo-rabdb-middle {
    background: none repeat scroll 0 0 rgba(195, 222, 219, 0.5);
    border-radius: 115px;
    content: "";
    height: 230px;
    left: 16.5%;
    position: absolute;
    top: -80px;
    width: 230px;
    z-index: 1;
}

#logo-rabdb-right {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 83px 0 0 83px;
    height: 166px;
    left: 20.3%;
    position: absolute;
    top: -10px;
    width: 75%;
    z-index: 1;
}

#logo-rabdb-right a {
    display: inline-block;
    margin-top: 40px;
}

#logo-rabdb-right a:first-child {
    margin-left: 40px;
}

#logo-rabdb-right a:last-child {
    float: right;
}

/* Menu style */
#leftsection {
    background-color: #618080;
}

#sidebar ul {
    padding-left: 0;
}

#sidebar ul li {
    list-style: outside none none;
}

#sidebar ul li {
    border-color: #ffffff;
    border-radius: 5px 0 0 5px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    font-weight: bold;
    margin-top: -1px;
    padding: 3px 20px;
}

#sidebar ul li a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#sidebar ul .sidebar-header {
    background-color: #ffffff;
    color: #618080;
    height: 16px;
    position: relative;
}

#sidebar ul .sidebar-header::before {
    background: none repeat scroll 0 0 #618080;
    border-radius: 10px;
    content: "";
    height: 20px;
    position: absolute;
    right: 0;
    top: 23px;
    width: 20px;
    z-index: 1;
}

#sidebar ul .sidebar-header::after {
    background: none repeat scroll 0 0 #618080;
    border-radius: 10px;
    content: "";
    height: 20px;
    position: absolute;
    right: 0;
    top: -21px;
    width: 20px;
    z-index: 1;
}

#sidebar ul .inner {
    background: none repeat scroll 0 0 transparent;
    height: 100%;
    width: 0;
}

#sidebar ul .inner::before {
    background: none repeat scroll 0 0 #ffffff;
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 23px;
    width: 10px;
}

#sidebar ul .inner::after {
    background: none repeat scroll 0 0 #ffffff;
    content: "";
    height: 10px;
    position: absolute;
    right: -1px;
    top: -11px;
    width: 10px;
}

#sidebar ul #evocell a {
    color: #c07849;
}

/* Contente style */
#content {
    margin-top: 13px;
}

#content h1, #content h2, #content h3, #content p, #content ul {
    font-size: 1em;
}

#content h1, #content h2, #content h3 {
    padding-left: 20px;
    text-transform: uppercase;
}

#content h1, #content h2 {
    border-radius: 5px;
    color: #ffffff;
    height: 20px;
    padding-top: 5px;
}

#content h1, #content h1.image {
    background: none repeat scroll 0 0 #404041;
    margin-bottom: 30px;
}

#content h2 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #618080;
    background-image: url("../images/icons/h2-background.svg"), -moz-linear-gradient(left center , #618080, #404041);
    background-origin: padding-box;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto auto;
}

#content h3 {
    border-bottom: 1px solid #6d6e70;
    color: #618080;
    margin: 40px 0 14px;
    padding-bottom: 2px;
}

#content h3 a {
    color: #c8a856;
}

#content h3 a:hover {
    color: #cccccc;
}

/* Footer style */
#footer {
    border-top: 1px solid #6d6e70;
    margin-top: 40px;
}

#footer p {
    color: #6d6e70;
}

#footer a {
    color: #c07849;
    text-decoration: none;
}

#footer a:hover {
    color: #c8a856;
}